<br><br><br>
<div class="container">
  <h2>Monthly Expenses</h2>
  <p class="date">Date: {{ currentDate }}</p>
  <form>
    <div class="form-group">
      <label for="food">Food</label>
      <select id="food" class="form-control" required>
        <option value="" disabled selected>Select an amount</option>
        <option value="1000-2000">1000-2000</option>
        <option value="2000-4000">2000-4000</option>
        <option value="4000-6000">4000-6000</option>
        <option value="10000-15000">More than 10,000 - Below 15,000</option>
        <option value="not-applicable">Not Applicable</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rent">Rent</label>
      <select id="rent" class="form-control" required>
        <option value="" disabled selected>Select an amount</option>
        <option value="1000-2000">1000-2000</option>
        <option value="2000-4000">2000-4000</option>
        <option value="4000-6000">4000-6000</option>
        <option value="10000-15000">More than 10,000 - Below 15,000</option>
        <option value="not-applicable">Not Applicable</option>
      </select>
    </div>
    <div class="form-group">
      <label for="medical">Medical</label>
      <select id="medical" class="form-control" required>
        <option value="" disabled selected>Select an amount</option>
        <option value="1000-2000">1000-2000</option>
        <option value="2000-4000">2000-4000</option>
          <option value="4000-6000">4000-6000</option>
          <option value="10000-15000">More than 10,000 - Below 15,000</option>
          <option value="not-applicable">Not Applicable</option>
        </select>
      </div>
      <div class="form-group">
        <label for="miscellaneous">Miscellaneous</label>
        <select id="miscellaneous" class="form-control" required>
          <option value="" disabled selected>Select an amount</option>
          <option value="1000-2000">1000-2000</option>
          <option value="2000-4000">2000-4000</option>
          <option value="4000-6000">4000-6000</option>
          <option value="10000-15000">More than 10,000 - Below 15,000</option>
          <option value="not-applicable">Not Applicable</option>
        </select>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
</div>
