
<html>
    <body>
<div class="main">      
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Job Detailes</label>
            <input type="text" name="txt" placeholder="username" required="">
            <input type="text" name="email" placeholder="Job" required="">
            <input type="number" name="pswd" placeholder="Salary" required="">
            <button>Submit</button>
        </form>
    </div>
    <div class="login">
        <form>
            <label for="chk" aria-hidden="true">UPDATE DETAILES</label>
            <input type="text" name="txt" placeholder="username" required="">
            <input type="text" name="email" placeholder="Job" required="">
            <input type="number" name="pswd" placeholder="Salary" required="">
            <button>Update</button>
        </form>
    </div>
</div>
</body>
</html>
